.button {
    font-family     : "Montserrat-SemiBold";
    font-size       : 20px;
    padding         : 12px;
    border-radius   : 12px;
    border          : none;
    color           : white;
    background-color: var(--green);
}

.button:hover {
    cursor: pointer;
}