.container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    animation: slideIn 0.2s ease-in-out;
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}