.title {
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.line * {
    margin: 5px 10px;
}

.line p {
    width:  100%;
    text-align: right;
    font-weight: bold;
}

.inputContainer {
    width: 100%;
}

.line input, .line label {
    width: 200px;
}

.nextButton {
    background-color: var(--green);
    border: none;
    border-radius: .5em;
    padding: .4em 1em;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    color: var(--beige);
}

input[type="text"].input, input[type="password"].input {
    border-radius: 5px;
    padding: 15px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    outline: none;
    transition: all 0.3s ease;
    border: none;
    background-color: var(--beige);
    color: var(--brown);
  }
  
  input[type="date"].input {
    border-radius: 5px;
    padding: 15px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    outline: none;
    transition: all 0.3s ease;
    border: none;
    background-color: var(--beige);
    color: var(--brown);
  }
  
  input[type="file"].input {
    width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
  }
  
  input[type="file"].input + label {
    font-weight: 700;
    color: var(--brown);
    background-color: var(--beige);
    display: inline-block;
    cursor: pointer;
    padding: .8em;
    border-radius: 5px;
    font-weight: normal;
  }