.page {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.form {
  position: relative;
  background-color: var(--beige);
  width: 600px;
  height: 350px;
  border-radius: .7em;
}

.formFields {
  width: 100%;
}

.sidesContainer {
  display: flex;
  height: 100%;
}

.formSideImage {
  width: 400px;
  height: 100%;
  background-color: var(--brown);
  border-radius: .7em;
}

.title {
  margin: 10px 0;
  font-size: 2em;
  text-align: center;
  font-family: "Montserrat-ExtraBold";
  color: var(--brown);
  text-shadow: 4px 4px var(--soft-brown);
}

.blur {
  filter: blur(5px);
  pointer-events: none;
}

@media screen and (max-width: 620px) {
  .form {
    width: 100vw;
    height: 600px;
    border-radius: 0;
  }
  .sidesContainer {
    flex-direction: column;
  }
  .formSideImage {
    width: 100vw;
    height: 250px;
  }
  .formFields {
    width: 100vw;
    height: 300px;
  }
}