.page {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.form {
  position: relative;
  background-color: var(--beige);
  width: 800px;
  height: 450px;
  border-radius: 20px;
  box-shadow: 0 0 30px -20px #000;
}

.sidesContainer {
  display: flex;
  height: 100%;
  width: 100%;
}

.formFields {
  padding: 45px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formSideImage {
  width: 300px;
  height: 100%;
  border-radius: 20px;
  background-color: var(--brown);
  background-image: url("/visuals/sbtIllustration.webp");
  background-size: cover;
  background-position: center;
}

.title {
  font-size: 1.5em;
  text-align: center;
  font-family: "Montserrat-ExtraBold";
  text-transform: uppercase;
  color: var(--brown);
  margin-bottom: 20px;
}

.blur {
  filter: blur(5px);
  pointer-events: none;
}

@media screen and (max-width: 800px) {
  .page {
    position: unset;
    margin: 20px 0;
  }
  .form {
    width: 85vw;
    height: auto;
  }
  .sidesContainer {
    flex-direction: column;
  }
  .formSideImage {
    width: 100%;
    height: 250px;
  }
  .formFields {
    width: 100%;
  }
}